<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TPINT_GRUPO_15_LAB4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servletEliminarCliente</servlet-name>
    <servlet-class>servlets.servletEliminarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletListarCliente</servlet-name>
    <servlet-class>servlets.servletListarCliente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletsSolicitarCuenta</servlet-name>
    <servlet-class>servlets.servletsSolicitarCuenta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servletAgregarCliente</servlet-name>
    <servlet-class>servlets.servletAgregarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletEliminarCliente</servlet-name>
    <url-pattern>/servletEliminarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletListarCliente</servlet-name>
    <url-pattern>/servletListarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletsSolicitarCuenta</servlet-name>
    <url-pattern>/servletsSolicitarCuenta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servletAgregarCliente</servlet-name>
    <url-pattern>/servletAgregarCliente</url-pattern>
  </servlet-mapping>
</web-app>